@charset "UTF-8";
#top{
	vertical-align:top
}
#middle{
	vertical-align:middle
	
}
#bottom{
	vertical-align:bottom
}
#low{
	text-align:center
}
table{
	
}
td{
	height:100px; width:100px
}